# ==========================
# Visual Studio
# ==========================
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# ==========================
# Rider
# ==========================
.idea/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Unity Generated
# ==========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db
Desktop.ini